<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "● #{@user.name}さんのページ ●"%>
      </h2>
      <h2>
        <%= "#{@user.name}さんの投稿一覧"%>
      </h3>
      <div class="user__card">
        <%= render partial: "posts/post", collection: @posts %>
      </div>
    </div>
  </div>
</div>