<div class="card">
  <p class="tag"><%= post.category.name %></p>
  <%= link_to image_tag(post.image, class: :card__img ), post_path(post.id) %>
  <div class="card__body">
    <%= link_to post.title, post_path(post.id), class: :card__title%>
    <%= link_to "by #{post.user.name}", user_path(post.user_id), class: :card__user %>
  </div>
</div>